@use '/src/scss/color';

@mixin gradient($color_after: color.$base-green,$color_before: color.$base-orange) {
  background-image: linear-gradient(to right,  $color_after, $color_before);
}

body {
 @include gradient;
 margin: 0
}

a {
  text-decoration: none;
}
